body{
     margin: 0;
    padding: 0;
}
header,
.my-work,
.subscribe{
    background-color: #23232e;
    padding:20px 0;
    color: white;
    text-align: center;
}
header img{
    width: 8%;
}
h2{
    font-size: 50px;
    text-transform: uppercase;
}
.circle{
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 50%;
    display: inline-block;
}
.container{
    padding: 10px 25%;
}
.what-i-do{
    text-align: center;
    color: #464b4f;
    overflow: hidden;
}
.p{
    font-size: 25px;
}
.col{
    width: 31.33%;
    margin: 10px 1%;
    float: left;
    text-align: left;
}
.my-work{
    text-align: center;
    overflow: hidden;
}
.my-work .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.my-work .menu ul li{
    display: inline-block;
}
.my-work .menu ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 15px;
    padding-bottom: 5px;
}
.my-work .menu ul li a:hover{
    border-bottom:1px solid #7b77c9 ;
}
.my-work .row .col img,
.photography .row .col img{
    width: 100%;
}
.my-work .row .col{
    text-align: center;
}
button{
    border:none;
    background: #7b77c9;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
}
.photography{
    text-align: center;
    color: #464b4f;
}

input{
    padding: 12px 20px;
    border-radius: 5px;
    border:none;
}
@media all and (max-width: 768px){
    .container{
        padding: 10px 15%;
    }
    .p{
        text-align: justify;
    }
}

@media all and ( max-width: 600px){
    h2{
        font-size: 30px;
    }
    header img{
        width: 20%;
    }
    .col{
        float: none;
        width: 95%;
    }
}

@media all and (max-width: 500px){
    h2{
        font-size: 30px;
    }
    header img{
        width: 15%;
    }
    .container{
        padding: 10px 5%;
    }
    .col{
        float: none;
        width: 95%;
    }
}

@media all and( max-width: 400px){
    h2{
        font-size: 20px;
    }
    header img{
        width: 18%;
    }
    .p{
        font-size: 4px;
    }
}
